.signupimage {
  background-image: url("../../images/bgpic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.formContainer {
  margin: 0 auto;
  width: 70%;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}

.textFieldHeader {
  color: #ffffff;
}
.textFieldHeader:hover {
  color: #bfbfbf;
}

.textField {
  background-color: #ffffff;
}

.textField:focus {
  background-color: #000000;
  color: #ffffff;
}

.formbtn {
  display: flex;
  justify-content: center;
}

.submitBtn {
  width: 50%;
  margin-top: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.textmsg { 
  color : white;
  display: flex;
  justify-content: center;
}

.existingusertext{
  color : white;
  display: flex;
  justify-content: center;
  margin-top : 20px;
}

.title{
  display: flex;
  justify-content: center;
  color : white;
  font-size : 40px;
  
}